<div [ngClass]="[isWhiteHeader 
        ?'page-template page-template-template-bloglist page-template-template-bloglist-php page page-id-10446 page-child parent-pageid-5929 theme-cinnamon-restaurant woocommerce-js top-header-present fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable page-is-opaque theme-fullwidth body-dashboard-push footer-is-on leftsidebar pace-done loading-done preloader-done pace-done sticky-menu-off'
        : 'home page-template-default page page-id-10419 page-child parent-pageid-11724 theme-cinnamon-restaurant woocommerce-no-js top-header-present sticky-menu-off fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable header-is-transparent-invert header-is-transparent page-is-opaque pagebuilder-active theme-fullwidth body-dashboard-push footer-is-on edge-to-edge'
        ]">

    <div class="preloader-cover-screen"></div>
    <div id="modal-reservation">
        <div class="window-modal-outer">
            <div class="window-modal-inner">
                <div class="window-modal-text entry-content"><span class="reservation-modal-exit"><i
                            class="ion-ios-close-empty"></i></span>
                    <div class="section-heading none section-align-center"
                        style="padding-top:10px;padding-bottom:10px;margin-bottom:px;">
                        <h2 class="entry-sub-title section-sub-title">Online</h2>
                        <h1 class="entry-title section-title opacity-on">Reservation</h1>
                        <div class="section-description">
                            <p>Integer congue malesuada eros congue varius. Sed malesuada dolor eget velit pretium.
                                Etiam porttitor finibus. Nam suscipit vel ligula at dharetra</p>
                        </div>
                    </div>
                    <div role="form" class="wpcf7" id="wpcf7-f11747-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/cinnamon/#wpcf7-f11747-o1" method="post" class="wpcf7-form init"
                            novalidate="novalidate" data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="11747" />
                                <input type="hidden" name="_wpcf7_version" value="5.4.1" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f11747-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="0" />
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                            </div>
                            <div class="theme-reservation-form">
                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required half-field"
                                        aria-required="true" aria-invalid="false"
                                        placeholder="Name (required)" /></span><span
                                    class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email half-field"
                                        aria-required="true" aria-invalid="false"
                                        placeholder="Email (required)" /></span><br />
                                <span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value=""
                                        size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel half-field"
                                        aria-required="true" aria-invalid="false" placeholder="Telephone" /></span><span
                                    class="wpcf7-form-control-wrap seats"><select name="seats"
                                        class="wpcf7-form-control wpcf7-select chosen-select half-field"
                                        aria-invalid="false">
                                        <option value="1 Person">1 Person</option>
                                        <option value="2 Person">2 Person</option>
                                        <option value="3 Person">3 Person</option>
                                        <option value="4 Person">4 Person</option>
                                        <option value="5 Person">5 Person</option>
                                        <option value="6 Person">6 Person</option>
                                        <option value="7 Person">7 Person</option>
                                        <option value="8 Person">8 Person</option>
                                        <option value="9 Person">9 Person</option>
                                        <option value="10 Person">10 Person</option>
                                        <option value="11 Person">11 Person</option>
                                        <option value="12 Person">12 Person</option>
                                        <option value="13 Person">13 Person</option>
                                        <option value="14 Person">14 Person</option>
                                        <option value="15 Person">15 Person</option>
                                        <option value="16 Person">16 Person</option>
                                        <option value="17 Person">17 Person</option>
                                        <option value="18 Person">18 Person</option>
                                        <option value="19 Person">19 Person</option>
                                        <option value="20 Person">20 Person</option>
                                    </select></span><br />
                                <span class="wpcf7-form-control-wrap start-date"><input type="text" name="start-date"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required half-field contact-datepicker"
                                        aria-required="true" aria-invalid="false" placeholder="Date" /></span><span
                                    class="wpcf7-form-control-wrap ontime"><select name="ontime"
                                        class="wpcf7-form-control wpcf7-select chosen-select half-field"
                                        aria-invalid="false">
                                        <option value="12:00 am">12:00 am</option>
                                        <option value="12:30 am">12:30 am</option>
                                        <option value="1:00 am">1:00 am</option>
                                        <option value="1:30 am">1:30 am</option>
                                        <option value="2:00 am">2:00 am</option>
                                        <option value="2:30 am">2:30 am</option>
                                        <option value="3:00 am">3:00 am</option>
                                        <option value="3:30 am">3:30 am</option>
                                        <option value="4:00 am">4:00 am</option>
                                        <option value="4:30 am">4:30 am</option>
                                        <option value="5:00 am">5:00 am</option>
                                        <option value="5:30 am">5:30 am</option>
                                        <option value="6:00 am">6:00 am</option>
                                        <option value="6:30 am">6:30 am</option>
                                        <option value="7:00 am">7:00 am</option>
                                        <option value="7:30 am">7:30 am</option>
                                        <option value="8:00 am">8:00 am</option>
                                        <option value="8:30 am">8:30 am</option>
                                        <option value="9:00 am">9:00 am</option>
                                        <option value="9:30 am">9:30 am</option>
                                        <option value="10:00 am">10:00 am</option>
                                        <option value="10:30 am">10:30 am</option>
                                        <option value="11:00 am">11:00 am</option>
                                        <option value="11:30 am">11:30 am</option>
                                        <option value="12:00 pm">12:00 pm</option>
                                        <option value="12:30 pm">12:30 pm</option>
                                        <option value="1:00 pm">1:00 pm</option>
                                        <option value="1:30 pm">1:30 pm</option>
                                        <option value="2:00 pm">2:00 pm</option>
                                        <option value="2:30 pm">2:30 pm</option>
                                        <option value="3:00 pm">3:00 pm</option>
                                        <option value="3:30 pm">3:30 pm</option>
                                        <option value="4:00 pm">4:00 pm</option>
                                        <option value="4:30 pm">4:30 pm</option>
                                        <option value="5:00 pm">5:00 pm</option>
                                        <option value="5:30 pm">5:30 pm</option>
                                        <option value="6:00 pm">6:00 pm</option>
                                        <option value="6:30 pm">6:30 pm</option>
                                        <option value="7:00 pm">7:00 pm</option>
                                        <option value="7:30 pm">7:30 pm</option>
                                        <option value="8:00 pm">8:00 pm</option>
                                        <option value="8:30 pm">8:30 pm</option>
                                        <option value="9:00 pm">9:00 pm</option>
                                        <option value="9:30 pm">9:30 pm</option>
                                        <option value="10:00 pm">10:00 pm</option>
                                        <option value="10:30 pm">10:30 pm</option>
                                        <option value="11:00 pm">11:00 pm</option>
                                        <option value="11:30 pm">11:30 pm</option>
                                    </select></span><br />
                                <h3 class="reservation-subheading">Special Requests</h3>
                                <p><span class="wpcf7-form-control-wrap special-requests"><textarea
                                            name="special-requests" cols="40" rows="10"
                                            class="wpcf7-form-control wpcf7-textarea"
                                            aria-invalid="false"></textarea></span><br /><input type="submit"
                                        value="Send" class="wpcf7-form-control wpcf7-submit" />
                            </div>
                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-menu-wrap">
        <nav id="mobile-toggle-menu" class="mobile-toggle-menu mobile-toggle-menu-close">
            <span class="mobile-toggle-menu-trigger"><span>Menu</span></span>
        </nav>
        <div class="reservation-button menu-button-toggle"><span class="reservation-button-element"><i
                    class="ion-android-restaurant"></i></span></div>
        <div class="mobile-menu-toggle">
            <div class="logo-mobile">
                <a href="/home"><img class="logoimage" src="assets/images/logo-image/logo.png" alt="logo" /></a>
            </div>
        </div>
    </div>
    <div class="responsive-menu-overlay"></div>
    <div class="responsive-mobile-menu">
        <nav>
            <ul id="menu-main-menu" class="mtree">

                <li>
                    <a [routerLink]="['../home']">
                        Home
                    </a>
                </li>
                <li>
                    <a [routerLink]="['../locations']">
                        Locations
                    </a>
                </li>
                <li>
                    <a [routerLink]="['../home']">
                        Menu
                    </a>
                </li>
                <li>
                    <a [routerLink]="['../home']">
                        Order
                    </a>
                </li>
                <li>
                    <a [routerLink]="['../about-us']">
                        About Us
                    </a>
                </li>

                <li>
                    <a [routerLink]="['../sustainability']">
                        Sustainability
                    </a>
                </li>

                <li>
                    <a [routerLink]="['../contact-us']">
                        Contact Us
                    </a>

                </li>

                <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11921"><a
                        href="https://imaginem.io/cinnamon/shop/">Delivery</a></li> -->


            </ul>
        </nav>
        <div class="mobile-social-header">
            <aside id="msocial-widget-2" class="widget MSocial_Widget">
                <div class="social-header-wrap">
                    <ul>
                        <li class="social-icon">
                            <a class="ntips" title="Facebook" href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Twitter" href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Tripadvisor" href="#" target="_blank">
                                <i class="fa fa-tripadvisor"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Youtube" href="#" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="500px" href="#" target="_blank">
                                <i class="fa fa-500px"></i>
                            </a>
                        </li>
                        <li class="address-text">
                            <i class="fa fa-map"></i>Company, Street, City, Country
                        </li>
                        <li class="contact-text">
                            <a href="#"> <i class="fa fa-phone-square"></i>Call us: +123 456 7890 </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="cleafix"></div>
    </div>
    <div class="outer-wrap stickymenu-zone">
        <div class="menu-social-header">
            <aside id="msocial-widget-1" class="widget MSocial_Widget">
                <div class="social-header-wrap">
                    <ul>
                        <li class="social-icon">
                            <a class="ntips" title="Facebook" href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Twitter" href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Tripadvisor" href="#" target="_blank">
                                <i class="fa fa-tripadvisor"></i>
                            </a>
                        </li>
                        <li class="social-icon">
                            <a class="ntips" title="Instagram" href="#" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="address-text">
                            <i class="fa fa-map"></i>Company, Street, City, Country
                        </li>
                        <li class="contact-text">
                            <a href="#"> <i class="fa fa-phone-square"></i>Call us: +123 456 7890 </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="outer-header-wrap clearfix">
            <div class="reservation-button menu-button-toggle"><span
                    class="button-element sticky-menu-switch button-default-outline button-black-outline">Login</span>
            </div>
            <nav>
                <div class="mainmenu-navigation ">
                    <div class="homemenu">
                        <ul id="menu-main-menu-1" class="sf-menu sf-js-enabled sf-arrows px-0"
                            style="touch-action: pan-y;">

                            <li>
                                <a [routerLink]="['../home']">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['../locations']">
                                    Locations
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['../menu']">
                                    Menu
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['../home']">
                                    Order
                                </a>
                            </li>

                            <li id="header-logo">
                                <div class="header-logo-section">
                                    <div class="logo"><a [routerLink]="['../home']"><img
                                                class="logo-theme-main logo-theme-primary logo-theme-dark"
                                                src="assets/images/logo-image/logo_dark.png" alt="logo"><img
                                                class="logo-theme-main logo-theme-inverse"
                                                src="assets/images/logo-image/logo_bright.png" alt="logo"></a></div>
                                </div>
                            </li>
                            <li>
                                <a [routerLink]="['../about-us']">
                                    About Us
                                </a>
                            </li>

                            <li>
                                <a [routerLink]="['../sustainability']">
                                    Sustainability
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['../contact-us']">
                                    Contact Us
                                </a>

                            </li>

                            <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11921"><a
                                    href="https://imaginem.io/cinnamon/shop/">Delivery</a></li> -->
                        </ul>
                        <!-- <span class="header-cart header-cart-toggle"><i class="ion-bag"></i></span> -->
                        <div class="mtheme-header-cart cart">
                            <span class="header-cart-close"><i class="feather-icon-cross"></i></span>
                            <div class="cart-contents">
                                <div class="cart-empty">
                                    Your cart is currently empty. </div>
                            </div>

                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>