<div
    class="home page-template-default page page-id-10419 page-child parent-pageid-11724 theme-cinnamon-restaurant woocommerce-no-js top-header-present sticky-menu-off fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable header-is-transparent-invert header-is-transparent page-is-opaque pagebuilder-active theme-fullwidth body-dashboard-push footer-is-on edge-to-edge">
    <div id="home" class="container-wrapper container-fullwidth">
        <div class="title-container-outer-wrap">
            <div class="title-container-wrap">
                <div class="title-container clearfix">
                    <div class="entry-title-wrap">
                        <h1 class="entry-title">Sustainability</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="page-contents-wrap">
                <div id="post-5861" class="post-5861 page type-page status-publish has-post-thumbnail hentry">
                    <div class="entry-page-wrapper entry-content clearfix">
                        <div id="mtheme-pagebuilder-wrapper-5861" class="mtheme-pagebuilder">
                            <div class="mtheme-modular-column column-parallax" data-stellar-background-ratio="0.5"
                                style="
                  background-image: url('assets/images/background-image/bg-sustainability.png');
                  padding-bottom: 56px;
                  padding-top: 324px;
                  background-position: 50% 0px;
                ">
                                <div class="mtheme-supercell clearfix boxed-column text-is-bright">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-1"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-wrap">
                                                            <div id="mtheme-block-2"
                                                                class="mtheme-block mtheme-block-em_sectionheading span12 mtheme-first-cell"
                                                                data-width="12">
                                                                <div class="mtheme-cell-inner">
                                                                    <div class="pb-0 section-heading animated fadeIn section-align-center animation-action"
                                                                        style="padding-top: 0;margin-bottom: px; ">

                                                                        <h1
                                                                            class="animated fadeIn entry-title section-title animation-action">
                                                                            SUSTAINABILITY
                                                                        </h1>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mtheme-modular-column column-parallax" style="
                                padding-bottom: 50px;
                                padding-top: 50px;
                                padding-left: 30px;
                                padding-right: 30px;
                                background-position: 50% 210px;
                                ">
                                <div class="row clearfix">
                                    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 text-center mx-auto">
                                        <h2 class="text-center">RESPONSIBLE BOX FRESH SUSHI</h2>
                                        <p>The Sushi Co – Responsible box fresh sushi.
                                        </p>
                                        <p>
                                            At The Sushi Co. we follow the path less
                                            trodden to seek out the highest quality
                                            ingredients for our live sushi kitchens,
                                            without compromising the environment that
                                            they come from.
                                            Our dedicated team work with a small
                                            hand-picked and highly accredited group of
                                            suppliers who deliver vibrant, eye-catching
                                            and flavoursome ingredients to our kitchens
                                            daily.
                                        </p>
                                        <p>
                                            Once our team takes hold of these fresh
                                            ingredients, we follow authentic Japanese
                                            processes to prepare our handmade Minutes
                                            Fresh Sushi. From the size of slices taken
                                            from our Scottish sashimi grade salmon, to
                                            our slightly soured specialist sushi rice
                                            being the perfect bed for our fish or
                                            vegetables. We’re proud to take all the
                                            necessary extra steps to provide great
                                            quality sushi whilst doing our bit to be
                                            responsible in how we go about it.
                                        </p>

                                    </div>

                                    <div class="d-flex w-100 justify-content-center">

                                        <img src="assets/images/sustainability-2.jfif" alt="" class="img-fluid" />

                                    </div>




                                </div>
                            </div>



                            <div class="mtheme-modular-column">
                                <div class="mtheme-supercell clearfix fullwidth-column">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-6"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-wrap">
                                                            <div id="mtheme-block-7"
                                                                class="mtheme-block mtheme-block-em_photocard_one span12 mtheme-first-cell"
                                                                data-width="12">
                                                                <div class="mtheme-cell-inner">
                                                                    <div
                                                                        class="photocard-wrap-common photocard-wrap-type-one none clearfix">
                                                                        <div
                                                                            class="photocard-image-wrap column-half column-float-left">
                                                                            <div class="photocard-image-container"
                                                                                style="
                                                          background-image: url(assets/images/sustainablity-1.jfif);
                                                        "></div>

                                                                        </div>
                                                                        <div
                                                                            class="photocard-content-wrap photocard-bright column-float-right column-half bg-dark-black">
                                                                            <div
                                                                                class="photocard-contents-inner text-align-center">
                                                                                <div class="heading-block">
                                                                                    <!-- <h3 class="animated fadeIn photocard-subtitle animation-action">
                                                            Featured works
                                                          </h3> -->
                                                                                    <h2
                                                                                        class="animated fadeIn photocard-title animation-action">
                                                                                        WE DON’T USE ANY RICE; WE USE
                                                                                        SUSHI RICE
                                                                                    </h2>
                                                                                </div>
                                                                                <div class="photocard-contents">
                                                                                    <p>
                                                                                        Rice is sushi, that’s why we use
                                                                                        the
                                                                                        same rice you’ll find in the UKs
                                                                                        top
                                                                                        sushi restaurants. Carefully
                                                                                        milled
                                                                                        in the Po Valley, Northern
                                                                                        Italy.
                                                                                        Mother nature’s rich
                                                                                        Mediterranean
                                                                                        sun melts the snow sitting high
                                                                                        on
                                                                                        the Alps giving the rice fields
                                                                                        we
                                                                                        source from everything they need
                                                                                        to
                                                                                        grow. Our premium grade short
                                                                                        grain
                                                                                        rice is designed specifically
                                                                                        for
                                                                                        sushi – its texture and natural
                                                                                        stickiness is perfect for sushi.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mtheme-modular-column">
                                <div class="mtheme-supercell clearfix fullwidth-column">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-8"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-wrap">
                                                            <div id="mtheme-block-9"
                                                                class="mtheme-block mtheme-block-em_photocard_one span12 mtheme-first-cell"
                                                                data-width="12">
                                                                <div class="mtheme-cell-inner">
                                                                    <div
                                                                        class="photocard-wrap-common photocard-wrap-type-one none clearfix">
                                                                        <div
                                                                            class="photocard-image-wrap column-half column-float-right">
                                                                            <div class="photocard-image-container"
                                                                                style="
                                                          background-image: url(assets/images/placement-image.png);
                                                        "></div>
                                                                        </div>
                                                                        <div
                                                                            class="photocard-content-wrap photocard-dark column-float-left column-half">
                                                                            <div
                                                                                class="photocard-contents-inner text-left">
                                                                                <div class="heading-block">

                                                                                    <h2
                                                                                        class="animated fadeIn photocard-title animation-action text-left">
                                                                                        FRESH FISH DAILY FROM AWARD
                                                                                        WINNING
                                                                                        FISHERIES
                                                                                    </h2>
                                                                                </div>
                                                                                <div class="d-flex col-md-11 text-left">
                                                                                    <p class="text-left text-dark">
                                                                                        We have the highest standards
                                                                                        when
                                                                                        sourcing our fresh fish
                                                                                        suppliers.
                                                                                        Whether it’s our 50-year-old
                                                                                        Scottish Salmon farm or our
                                                                                        cutting-edge 100% sustainable
                                                                                        Dutch
                                                                                        Yellowtail supplier, both are
                                                                                        proud
                                                                                        to have been accredited by the
                                                                                        Aquaculture Stewardship Council
                                                                                        (ASC) for making every step of
                                                                                        their
                                                                                        processes as sustainable as
                                                                                        possible.
                                                                                        Our Dutch Yellowtail are
                                                                                        organically
                                                                                        fed with the highest-grade
                                                                                        antibiotic free feed, resulting
                                                                                        in
                                                                                        high levels of Omega 3. Our
                                                                                        Scottish
                                                                                        Salmon are nurtured in
                                                                                        hatcheries on
                                                                                        the banks of Loch Creran and use
                                                                                        RAS
                                                                                        technology to ensure the best
                                                                                        growing conditions are provided.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="mtheme-modular-column d-none">
                                <div class="mtheme-supercell clearfix fullwidth-column">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-6"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-inner">
                                                            <div class="row row-wrap">
                                                                <div class="col-lg-6 px-0">
                                                                    <div class="img-box">
                                                                        <img src="assets/images/sustainablity-1.jfif"
                                                                            alt="" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6  bg-dark-black text-white">
                                                                    <div
                                                                        class="col-10 mx-auto d-flex flex-wrap align-items-center  py-4 h-100">
                                                                        <div class="text-left">
                                                                            <h2
                                                                                class="animated fadeIn photocard-title animation-action text-white">
                                                                                WE DON’T USE ANY RICE; WE USE
                                                                                SUSHI RICE
                                                                            </h2>
                                                                            <p>
                                                                                Rice is sushi, that’s why we use
                                                                                the
                                                                                same rice you’ll find in the UKs
                                                                                top
                                                                                sushi restaurants. Carefully
                                                                                milled
                                                                                in the Po Valley, Northern
                                                                                Italy.
                                                                                Mother nature’s rich
                                                                                Mediterranean
                                                                                sun melts the snow sitting high
                                                                                on
                                                                                the Alps giving the rice fields
                                                                                we
                                                                                source from everything they need
                                                                                to
                                                                                grow. Our premium grade short
                                                                                grain
                                                                                rice is designed specifically
                                                                                for
                                                                                sushi – its texture and natural
                                                                                stickiness is perfect for sushi.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mtheme-modular-column d-none">
                                <div class="mtheme-supercell clearfix fullwidth-column">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-6"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-inner">
                                                            <div class="row row-wrap">

                                                                <div class="col-lg-6">

                                                                    <div
                                                                        class="col-10 mx-auto d-flex flex-wrap align-items-center py-4 h-100">
                                                                        <div class="text-left">
                                                                            <h2
                                                                                class="animated fadeIn photocard-title animation-action text-dark">
                                                                                FRESH FISH DAILY FROM AWARD WINNING
                                                                                FISHERIES
                                                                            </h2>
                                                                            <p>
                                                                                We have the highest standards when
                                                                                sourcing our fresh fish suppliers.
                                                                                Whether it’s our 50-year-old
                                                                                Scottish Salmon farm or our
                                                                                cutting-edge 100% sustainable Dutch
                                                                                Yellowtail supplier, both are proud
                                                                                to have been accredited by the
                                                                                Aquaculture Stewardship Council
                                                                                (ASC) for making every step of their
                                                                                processes as sustainable as
                                                                                possible.
                                                                                Our Dutch Yellowtail are organically
                                                                                fed with the highest-grade
                                                                                antibiotic free feed, resulting in
                                                                                high levels of Omega 3. Our Scottish
                                                                                Salmon are nurtured in hatcheries on
                                                                                the banks of Loch Creran and use RAS
                                                                                technology to ensure the best
                                                                                growing conditions are provided.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 px-0">
                                                                    <div class="img-box">
                                                                        <img src="/assets/images/placement-image.png"
                                                                            alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>