<div
  class="home page-template-default page page-id-10419 page-child parent-pageid-11724 theme-cinnamon-restaurant woocommerce-no-js top-header-present sticky-menu-off fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable header-is-transparent-invert header-is-transparent page-is-opaque pagebuilder-active theme-fullwidth body-dashboard-push footer-is-on edge-to-edge">
  <div id="home" class="container-wrapper container-fullwidth">
    <div class="title-container-outer-wrap">
      <div class="title-container-wrap">
        <div class="title-container clearfix">
          <div class="entry-title-wrap">
            <h1 class="entry-title">News And Offers</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="page-contents-wrap">
        <div id="post-5861" class="post-5861 page type-page status-publish has-post-thumbnail hentry">
          <div class="entry-page-wrapper entry-content clearfix">
            <div id="mtheme-pagebuilder-wrapper-5861" class="mtheme-pagebuilder">
              <app-common-header></app-common-header>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-content></app-content>