<div
    class="home page-template-default page page-id-10419 page-child parent-pageid-11724 theme-cinnamon-restaurant woocommerce-no-js top-header-present sticky-menu-off fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable header-is-transparent-invert header-is-transparent page-is-opaque pagebuilder-active theme-fullwidth body-dashboard-push footer-is-on edge-to-edge">
    <div id="home" class="container-wrapper container-fullwidth">
        <div class="title-container-outer-wrap">
            <div class="title-container-wrap">
                <div class="title-container clearfix">
                    <div class="entry-title-wrap">
                        <h1 class="entry-title">Locations</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="page-contents-wrap">
                <div id="post-5861" class="post-5861 page type-page status-publish has-post-thumbnail hentry">
                    <div class="entry-page-wrapper entry-content clearfix">
                        <div id="mtheme-pagebuilder-wrapper-5861" class="mtheme-pagebuilder">
                            <app-common-header></app-common-header>

                            <div class="d-flex w-100 flex-wrap">
                                <div class="col-md-6">
                                    <div class="mtheme-cell-inner p-5">
                                        <h2>{{storeDetails.place}}</h2>
                                        <p class="text-is-dark fs-5 fw-bold">
                                            {{storeDetails.address}}

                                        </p>
                                        <p>
                                            {{storeDetails.descreption}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <iframe [src]="getURL(storeDetails.geoLocation)" width="100%" height="450px"
                                        frameborder="0" style="
                                                          border: 0;
                                                          -webkit-filter: grayscale(100%);
                                                          filter: grayscale(100%);
                                                        " allowfullscreen="" aria-hidden="false" tabindex="0">
                                    </iframe>
                                </div>
                            </div>

                            <div class="d-flex w-100 flex-wrap">
                                <div class="col-md-6 footer-section">
                                    <div class="p-5">

                                        <div class="d-flex w-100 justify-content-center mb-3">
                                            <div class="icons-img rounded-circle">
                                                <img src="assets/images/placement-image.png"
                                                    class="rounded-circle w-100 h-100" />
                                            </div>
                                        </div>

                                        <h2
                                            class="animated fadeIn entry-title section-title animation-action text-center mb-1">
                                            Delivery</h2>
                                        <div class="col-lg-10 text-center mx-auto">
                                            <p class="fs-15">Quisque fermentum nulla vitae sapien
                                                aliquam, et egestas sem volutpat.
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <ng-container *ngFor="let partner of storeDetails.deliveryPartner">
                                                <a href="{{partner.orderLink}}" target="_blank">
                                                    <img *ngIf="partner.display" src="{{partner.logo}}" alt="deliveroo"
                                                        width="75" height="75" class="m-2">
                                                </a>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-wrap w-100 justify-content-center p-5">
                                        <div class="d-flex w-100 justify-content-center mb-3">
                                            <div class="icons-img rounded-circle">
                                                <img src="assets/images/placement-image.png"
                                                    class="rounded-circle w-100 h-100" />
                                            </div>
                                        </div>
                                        <h2
                                            class="animated fadeIn entry-title section-title animation-action d-flex w-100 mb-2 justify-content-center">
                                            Collect</h2>

                                        <div class="col-lg-8 text-center mx-auto">
                                            <p class="fs-15">Quisque fermentum nulla vitae sapien
                                                aliquam, et egestas</p>
                                        </div>

                                        <div class="d-flex w-100 justify-content-center mt-4">
                                            <button type="submit"
                                                class="btn rounded-0  btn-outline-dark border border-dark border-3 w-25 fw-bold">
                                                ORDER
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="d-flex w-100 flex-wrap">
                                <div class="col-md-6">
                                    <div class="p-5">
                                        <h2
                                            class="animated fadeIn entry-title section-title animation-action  text-center">
                                            Opening Times</h2>
                                        <div class="col-xl-8 col-lg-12 mx-auto">
                                            <div *ngFor="let item of  storeDetails.timeTable"
                                                class="d-flex  w-100 mb-2 fw-600">
                                                <div class="col-6">
                                                    {{item.day}}
                                                </div>
                                                <div class="col-6">
                                                    {{item.time}}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <img *ngIf="storeDetails.deliveroo"
                                                src="assets/images/delivery-partner/deliveroo.png" alt="deliveroo"
                                                width="75" height="75" class="m-2">
                                            <img *ngIf="storeDetails.justeat"
                                                src="assets/images/delivery-partner/just-eat.png" alt="just-eat"
                                                width="75" height="75" class="m-2">
                                            <img *ngIf="storeDetails.ubereats"
                                                src="assets/images/delivery-partner/uber-eats.png" alt="uber-eats"
                                                width="75" height="75" class="m-2"> -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="d-flex flex-wrap w-100 justify-content-center p-5">
                                        <h2 class="animated fadeIn entry-title section-title animation-action">
                                            Contact Us</h2>

                                        <div class="col-10 text-center mx-auto">
                                            <p>Quisque fermentum nulla vitae sapien
                                                aliquam, et egestas sem volutpat. </p>
                                        </div>
                                        <div class="d-flex w-100 justify-content-center">
                                            <p class="fs-24 fw-bold text-dark"> {{storeDetails.phone}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <app-book-table></app-book-table>

                            <app-gallery-slider></app-gallery-slider> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>