.modal-body {
    padding: 59px 25px 59px !important;

    .sign-text {
        font-size: 16px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: 1.78px;
        text-align: right;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
    }

    .line {
        width: 1px;
        height: 35px;
        margin: 0 14.3px 0 14.3px;
        border-right: solid 1px #979797;

    }
}