
.Line-4 {
    width: 50px;
    height: 1px;
    border: solid 1px #fff;
}

.rectangle {
    background-color: #000 !important;
    width: 100%;
}

.border-righ-white {
    border-right: 2px solid #fff !important;
}



.checkout-btn {
    width: 187px;
    height: 49px;
    margin: 0 3px 0 0;
    border-radius: 2px;
    background-color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.bottom-line {
    height: 1px;
    margin: 8px 0 0;
    opacity: 0.45;
    background-color: #979797;
    border: solid 1px #979797;
}