<footer class="footer-section clearfix">
    <div id="goto-top"><i class="feather-icon-arrow-up"></i></div>
    <div class="footer-container-wrap clearfix">
        <div class="footer-container clearfix">
            <div id="footer" class="sidebar widgetized clearfix">

                <div class="footer-column">
                    <div class="sidebar-widget">
                        <aside id="text-1" class="widget widget_text">
                            <h3>Welcome to Cinnnamon</h3>
                            <div class="textwidget">Fusce aliquam tincidunt hendrerit. Nunc tincidunt id velit
                                sit amet vestibulum. In venenatis tempus odio ut dictum. Curabitur ac nisl
                                molestie, facilisis nibh ac, facilisis ligula. Integer congue malesuada eros
                                congue varius. Sed malesuada dolor eget velit euismod pretium. Etiam porttitor
                                finibus pretium. Nam suscipit vel ligula at dharetra.</div>
                        </aside>
                    </div>
                    <div class="sidebar-widget">
                        <aside id="mtheme_image_widget-1" class="widget widget_mtheme_image_widget"> <img
                                class="footer-mtheme-image" width="260"
                                src="assets/images/logo-image/logo_dark.png" alt="logo" />
                        </aside>
                    </div>
                    <div class="sidebar-widget">
                        <aside id="msocial-widget-3" class="widget MSocial_Widget">
                            <div class="social-header-wrap">
                                <ul>
                                    <li class="social-icon">
                                        <a class="ntips" title="Facebook" href="#" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a class="ntips" title="Twitter" href="#" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a class="ntips" title="Tripadvisor" href="#" target="_blank">
                                            <i class="fa fa-tripadvisor"></i>
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a class="ntips" title="Instagram" href="#" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="address-text">
                                        <i class="fa fa-map"></i>Company, Street, City, Country
                                    </li>
                                    <li class="contact-text">
                                        <a href="#"> <i class="fa fa-phone-square"></i>Call us: +123 456 7890
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="sidebar-widget">
                        <aside id="text-2" class="widget widget_text">
                            <h3>Opening Hours</h3>
                            <div class="textwidget">
                                <div class="opening-hours">
                                    <p>Fusce aliquam tincidunt hendrerit. Nunc tincidunt id velit sit amet
                                        vestibulum. In venenatis tempus odio ut dictum curabitur ac nisl
                                        molestie, facilisis nibh ac.</p>
                                    <h3 class="first-title">Lunch</h3>
                                    <dl>
                                        <dt>Mon to Sun</dt>
                                        <dd>12:00 to 15:00</dd>
                                    </dl>
                                    <h3>Dinner</h3>
                                    <dl>
                                        <dt>Mon to&nbsp;Thur</dt>
                                        <dd>18:00 to 22:30</dd>
                                    </dl>
                                    <dl>
                                        <dt>Fri &amp; Sat</dt>
                                        <dd>17:30 to 22:30</dd>
                                    </dl>
                                    <dl>
                                        <dt>Sunday</dt>
                                        <dd>18:00 to 21:30</dd>
                                    </dl>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="sidebar-widget">
                        <aside id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                            <h3>Newsletter</h3>
                            <script>(function () {
                                    window.mc4wp = window.mc4wp || {
                                        listeners: [],
                                        forms: {
                                            on: function (evt, cb) {
                                                window.mc4wp.listeners.push(
                                                    {
                                                        event: evt,
                                                        callback: cb
                                                    }
                                                );
                                            }
                                        }
                                    }
                                })();
                            </script>
                            <!-- Mailchimp for WordPress v4.8.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-11924" method="post"
                                data-id="11924" data-name="">
                                <div class="mc4wp-form-fields"><input type="text" name="FNAME"
                                        placeholder="Name">
                                    <input type="email" name="EMAIL" placeholder="Your email address"
                                        required />
                                    <input type="submit" value="Sign up" />
                                </div><label style="display: none !important;">Leave this field empty if you're
                                    human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                        autocomplete="off" /></label><input type="hidden"
                                    name="_mc4wp_timestamp" value="1653715735" /><input type="hidden"
                                    name="_mc4wp_form_id" value="11924" /><input type="hidden"
                                    name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                <div class="mc4wp-response"></div>
                            </form><!-- / Mailchimp for WordPress Plugin -->
                        </aside>
                    </div>
                    <div class="sidebar-widget">
                        <aside id="text-3" class="widget widget_text">
                            <h3>Reservation</h3>
                            <div class="textwidget">Book online or give us a call on 020 3375 1515 between
                                9.30am–6pm on weekdays, and between 12pm–5pm on weekends.</div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright" class="footer-container">
        Copyright &copy; 2021 </div>
</footer>