<div
    class="home page-template-default page page-id-10419 page-child parent-pageid-11724 theme-cinnamon-restaurant woocommerce-no-js top-header-present sticky-menu-off fullscreen-mode-off single-author theme-is-light demo split-menu page-is-not-fullscreen fullscreen-ui-switchable header-is-transparent-invert header-is-transparent page-is-opaque pagebuilder-active theme-fullwidth body-dashboard-push footer-is-on edge-to-edge">
    <div id="home" class="container-wrapper container-fullwidth">
        <div class="title-container-outer-wrap">
            <div class="title-container-wrap">
                <div class="title-container clearfix">
                    <div class="entry-title-wrap">
                        <h1 class="entry-title">Sustainability</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="page-contents-wrap">
                <div id="post-5861" class="post-5861 page type-page status-publish has-post-thumbnail hentry">
                    <div class="entry-page-wrapper entry-content clearfix">
                        <div id="mtheme-pagebuilder-wrapper-5861" class="mtheme-pagebuilder">
                            <div class="mtheme-modular-column column-parallax" data-stellar-background-ratio="0.5"
                                style="
                  background-image: url('assets/images/background-image/bg-sustainability.png');
                  padding-bottom: 56px;
                  padding-top: 324px;
                  background-position: 50% 0px;
                ">
                                <div class="mtheme-supercell clearfix boxed-column text-is-bright">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-1"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="mtheme-cell-wrap">
                                                            <div id="mtheme-block-2"
                                                                class="mtheme-block mtheme-block-em_sectionheading span12 mtheme-first-cell"
                                                                data-width="12">
                                                                <div class="mtheme-cell-inner">
                                                                    <div class="section-heading animated fadeIn section-align-center animation-action"
                                                                        style="padding-top: 0;padding-bottom: 76px;margin-bottom: px; ">

                                                                        <h1
                                                                            class="animated fadeIn entry-title section-title animation-action">
                                                                            Password
                                                                        </h1>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mtheme-modular-column column-parallax"
                                style="  padding-bottom: 112px;  padding-top: 112px;  background-position: 50% 210px; ">

                                <div class="mtheme-supercell clearfix boxed-column">
                                    <div class="column-setter first-column span12">
                                        <div class="mtheme-cell-wrap">
                                            <div id="mtheme-block-3"
                                                class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                                                data-width="12">
                                                <div class="mtheme-cell-inner">
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <div class="mtheme-cell-wrap">
                                                                <div id="mtheme-block-4"
                                                                    class="mtheme-block mtheme-block-em_displayrichtext span12 mtheme-first-cell"
                                                                    data-width="6">
                                                                    <div class="mtheme-cell-inner text-center">
                                                                        <h2>FORGOTTEN PASSWORD</h2>
                                                                        <p>It can happen to the best of us. Please
                                                                            create a new password below</p>
                                                                        <div
                                                                            class="col-12 col-md-5 col-lg-4 col-xl-3 mx-auto mt-5">
                                                                            <div class="sidebar-widget mb-0">
                                                                                <aside id="mc4wp_form_widget-2"
                                                                                    class="widget widget_mc4wp_form_widget">
                                                                                    <script>(function () {
                                                                                            window.mc4wp = window.mc4wp || {
                                                                                                listeners: [],
                                                                                                forms: {
                                                                                                    on: function (evt, cb) {
                                                                                                        window.mc4wp.listeners.push(
                                                                                                            {
                                                                                                                event: evt,
                                                                                                                callback: cb
                                                                                                            }
                                                                                                        );
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        })();
                                                                                    </script>
                                                                                    <!-- Mailchimp for WordPress v4.8.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                                                                    <form id="mc4wp-form-2"
                                                                                        *ngIf="!isVerify && !snedEmail"
                                                                                        class="mc4wp-form mc4wp-form-11924"
                                                                                        method="post" data-id="11924"
                                                                                        [formGroup]="sendEmailForm"
                                                                                        data-name="">
                                                                                        <div class="mc4wp-form-fields">
                                                                                            <input type="email"
                                                                                                placeholder="Email"
                                                                                                formControlName="Email"
                                                                                                required #Email
                                                                                                autocomplete="off"
                                                                                                oninput="this.value = this.value.toLowerCase()">
                                                                                            <div class="fs-12 text-danger mb-3 text-start"
                                                                                                *ngIf="(isSubmited || f['Email'].touched) &&  f['Email']?.errors?.['required']">
                                                                                                Please enter Email
                                                                                                Address
                                                                                            </div>
                                                                                            <div class="fs-12 text-danger mb-3 text-start"
                                                                                                *ngIf="(isSubmited || f['Email'].touched) &&  f['Email']?.errors?.['pattern']">
                                                                                                Enter valid Email
                                                                                                Address
                                                                                            </div>
                                                                                            <!-- <input type="submit"
                                                                                                value="SEND CODE" />-->
                                                                                            <button class="outline-btn-secondary mb-3
                                                                                            rounded-0"
                                                                                                (click)="onSendEmail()">SEND
                                                                                                CODE</button>
                                                                                        </div>
                                                                                    </form>


                                                                                    <div class="mc4wp-form-fields mb-3"
                                                                                        *ngIf="snedEmail && !isVerify">
                                                                                        <code-input class="mb-3"
                                                                                            [isCodeHidden]="true"
                                                                                            [codeLength]="5"
                                                                                            (codeCompleted)="onCodeCompleted($event)">
                                                                                        </code-input>

                                                                                        <div class="fs-12 text-danger mb-3 text-start"
                                                                                            *ngIf="isSubmited && verificationCode == null || undefined">
                                                                                            Please enter Verification
                                                                                            Code
                                                                                        </div>

                                                                                        <button
                                                                                            class="outline-btn-secondary rounded-0"
                                                                                            (click)="verifyPasswordCode()">Verify</button>
                                                                                    </div>


                                                                                    <form id="mc4wp-form-2"
                                                                                        *ngIf="isVerify"
                                                                                        class="mc4wp-form mc4wp-form-11924"
                                                                                        method="post" data-id="11924"
                                                                                        [formGroup]="changePasswordForm"
                                                                                        data-name="">
                                                                                        <div class="mc4wp-form-fields">
                                                                                            <div
                                                                                                class="input-group flex-nowrap mb-3">
                                                                                                <input
                                                                                                    [type]="showNewPass?'text':'password'"
                                                                                                    class="custom-form-control mb-0 border-end-0"
                                                                                                    name="NewPassword"
                                                                                                    formControlName="NewPassword"
                                                                                                    placeholder="New Password">
                                                                                                <span
                                                                                                    class="input-group-text pointer bg-transparent border-start-0 rounded-0 "
                                                                                                    id="basic-addon3"
                                                                                                    (click)="showNewPass = !showNewPass">
                                                                                                    <i
                                                                                                        [class]="showNewPass?'bi bi-eye':'bi bi-eye-slash'"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                            <div class="fs-12 text-danger mb-3 text-start"
                                                                                                *ngIf="(isSubmited || changePassForm['NewPassword'].touched) &&  changePassForm['NewPassword']?.errors?.['required']">
                                                                                                Please enter New
                                                                                                Password
                                                                                            </div>

                                                                                            <div
                                                                                                class="input-group flex-nowrap mb-3">
                                                                                                <input
                                                                                                    [type]="showConfirmPass?'text':'password'"
                                                                                                    class="mb-0 border-end-0"
                                                                                                    name="ConfirmPassword"
                                                                                                    formControlName="ConfirmPassword"
                                                                                                    placeholder="Repeat New Password"
                                                                                                    required />
                                                                                                <span
                                                                                                    class="input-group-text pointer bg-transparent border-start-0 rounded-0 "
                                                                                                    id="basic-addon3"
                                                                                                    (click)="showConfirmPass = !showConfirmPass">
                                                                                                    <i
                                                                                                        [class]="showConfirmPass?'bi bi-eye':'bi bi-eye-slash'"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                            <div class="fs-12 text-danger mb-3 text-start"
                                                                                                *ngIf="(isSubmited || changePassForm['ConfirmPassword'].touched) &&  changePassForm['ConfirmPassword']?.errors?.['required']">
                                                                                                Please enter Confirm
                                                                                                Password
                                                                                            </div>

                                                                                            <div class="fs-12 text-danger mb-3 text-start"
                                                                                                *ngIf="changePassForm['ConfirmPassword'].errors?.['mustMatch']">
                                                                                                Password does not match.
                                                                                            </div>
                                                                                            <button
                                                                                                class="outline-btn-secondary rounded-0"
                                                                                                (click)="onChangePassword()">RESET
                                                                                                PASSWORD</button>
                                                                                        </div>
                                                                                    </form>
                                                                                </aside>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>