<div class="mtheme-modular-column">
    <div class="mtheme-supercell clearfix  fullwidth-column">
        <div class="column-setter first-column span12">
            <div class="mtheme-cell-wrap">
                <div id="mtheme-block-15" class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell "
                    data-width="12">
                    <div class="mtheme-cell-inner">
                        <div class="row clearfix">
                            <div class="mtheme-cell-wrap">
                                <div id="mtheme-block-16"
                                    class="mtheme-block mtheme-block-em_lightboxcarousel span12 mtheme-first-cell "
                                    data-width="12">
                                    <div class="mtheme-cell-inner">
                                        <div class="gridblock-owlcarousel-wrap clearfix">
                                            <div id="owl-10419-6291b3173342d"
                                                class="owl-carousel lightbox-carousel-rows" data-columns="4"
                                                data-id="owl-10419-6291b3173342d">
                                            
                                                <div class="gridblock-grid-element" *ngFor="let item of galleryImages">
                                                    <a 
                                                        class="lightbox-active column-gridblock-lightbox lightbox-image"
                                                        data-sub-html="image7" [href]="item" data-src="item">
                                                        <div class="gridblock-background-hover">
                                                            <div class="gridblock-links-wrap">
                                                                <span class="column-gridblock-icon"><span
                                                                        class="hover-icon-effect"><i
                                                                            class="ion-ios-search"></i></span></span>
                                                            </div>
                                                        </div><img [src]="item" alt="" class="displayed-image" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>