<div class="col-12 payment">
    <div>
        <label class="text-uppercase text-white d-flex w-100 "> <i class="bi bi-clock fw-bold text-white fs-3"></i>
            <span class="d-flex align-items-center ms-5">Select Time :</span></label>
        <div class="d-flex w-100 justify-content-between flex-wrap mb-3">
            <div class="col-6 pe-1">
                <a (click)="selectedTimeFormat='asap'" class="pointer text-decoration-none text-muted">
                    <div class="box-select-time d-flex flex-wrap w-100 justify-content-center mx-1 pointer"
                        [ngClass]="selectedTimeFormat=='asap'?'selectedBoxTime':'notSelectedBoxTime'">
                        <div class="d-flex w-100 justify-content-center mb-3">
                            <i
                                class="bi bi-clock d-flex align-items-center h-100 text-center fw-bold fs-3 text-white"></i>
                        </div>

                        <p class="text-white text-uppercase mb-0 fs-13">asap</p>
                    </div>
                </a>
            </div>
            <div class="col-6 ps-1">
                <a (click)="selectedTimeFormat='later'" class="pointer text-decoration-none text-muted">
                    <div class="box-select-time d-flex flex-wrap w-100 justify-content-center pointer"
                        [ngClass]="selectedTimeFormat!='asap'?'selectedBoxTime':'notSelectedBoxTime'">
                        <div class="d-flex w-100 justify-content-center mb-3">
                            <i
                                class="bi bi-clock d-flex align-items-center h-100 text-center fw-bold fs-3 text-white"></i>
                        </div>

                        <p class="text-white text-uppercase mb-0 fs-13">later</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box mb-3">
            <div class="d-flex w-100 flex-wrap">
                <div class="col-4">
                    <div class="d-flex w-100 h-100">
                        <i class="bi bi-calendar  text-center fw-bold fs-14 op-06 text-white"></i>
                        <div class="ms-2">
                            <label class="text-white fs-13 mb-0">Date</label>
                            <p class="fs-13 mb-0 text-dark-yellow">{{isShowToday?'Today':''}}</p>
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-end w-100 h-100 align-items-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input border-0 fs-4" [class.bg-success]="isShowToday"
                                type="checkbox" [checked]="isShowToday" id="flexSwitchCheckChecked"
                                (change)="onDatetoggleChange($event);">
                        </div>
                    </div>

                </div>
                <div class="d-flex w-100 flex-wrap" *ngIf="!isShowToday">
                    <!-- <input type="date"  class="form-control w-100 bg-dark text-white mt-2"
                        (change)="onDateChange($event)" placeholder="Select date"> -->

                    <ngx-datepicker [(ngModel)]="selectedDate" [isOpened]="true" [options]="options"></ngx-datepicker>
                </div>

            </div>
        </div>
        <div class="box mb-3">
            <div class="d-flex w-100 flex-wrap">
                <div class="col-4">
                    <div class="d-flex w-100 h-100">
                        <i class="bi bi-clock text-center fw-bold fs-14 op-06 text-white"></i>
                        <div class="ms-2">
                            <label class="text-white fs-13 mb-0">Time</label>
                            <p class="fs-13 mb-0 text-dark-yellow">{{!isShowCurrent?selectedTime : getCurrentTime |
                                date:'HH:mm'}}</p>
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-end w-100 h-100 align-items-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input border-0 fs-4" [class.bg-success]="isShowCurrent"
                                type="checkbox" [checked]="isShowCurrent" id="flexSwitchCheckChecked"
                                (change)="onTimetoggleChange($event)">
                        </div>
                    </div>

                </div>
                <div class="d-flex w-100 flex-wrap" *ngIf="!isShowCurrent">
                    <ngx-timepicker-field [defaultTime]="'11:11 am'" [(ngModel)]="selectedTime"
                        [controlOnly]="true"></ngx-timepicker-field>
                    <!-- <input type="time" class="form-control w-100 bg-dark text-white mt-2" placeholder="Select time"> -->
                </div>
            </div>
        </div>

    </div>




    <div class="accordion accordion-flush w-100 bg-payment-dark text-white" id="accordionFlushExample">
        <div class="accordion-item w-100 bg-payment-dark text-white rounded-3">
            <h2 class="accordion-header bg-payment-dark text-white" id="flush-headingOne">
                <button class="accordion-button collapsed bg-payment-dark text-white d-flex w-100 shadow-none"
                    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    <div class="d-flex w-100 ">
                        <div class="col-3">
                            <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                <span class="items-length rounded-circle me-3">{{checkoutItems?.length}}</span>
                            </div>
                        </div>
                        <div class="col-9">
                            <span class="d-flex align-items-center pt-2">ITEMS</span>
                        </div>
                    </div>

                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="d-flex justify-content-between w-100 mb-2" *ngFor="let item of checkoutItems">
                        <div class="w-75 d-flex">
                            <span class="text-muted fs-14 pe-3">{{item?.orderQuantity==0?1:item?.orderQuantity}}x</span>
                            <span class="pinkish-gray fs-14 d-flex text-center">{{item?.Name}}</span>
                        </div>
                        <div class="text-white fs-14">
                            {{item.totalPrice| currency:item.currency}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box mt-3">
        <div class="d-flex w-100 ">
            <div class="col-3"></div>
            <div class="col-9">
                <label class="text-uppercase op-05 text-white fs-13">COLLECTION</label>
                <p class="text-uppercase text-off-white fs-14 fw-bold mb-0">
                    {{storeDetails?storeDetails.StoreName:'Not Found'}}
                </p>
            </div>
        </div>
    </div>

    <div class="box mt-3">
        <div class="d-flex w-100 ">
            <div class="col-3">
                <i class="bi bi-clock d-flex align-items-center h-100 text-center fw-bold fs-3 text-white"></i>
            </div>
            <div class="col-9">
                <label class="text-uppercase op-05 text-white fs-13 ">Time</label>
                <p class="text-uppercase text-off-white fs-14 fw-bold mb-0">{{!selectedDate?'': selectedDate | date :
                    'MMM dd yyyy'}}
                    {{!selectedTime?'':selectedTime}}</p>
            </div>
        </div>
    </div>

    <div class="box mt-3 pb-3">
        <div class="d-flex w-100 ">
            <div class="col-3">

            </div>
            <div class="col-9">
                <label class="text-uppercase op-05 text-white fs-13 ">Tip</label>
                <div class="d-flex w-100 justify-content-start">
                    <button *ngFor="let item of tips" class="btn btn-link text-decoration-none text-white fw-bold p-1"
                        (click)="addTip(item)">{{item}}%</button>
                </div>
                <div class="d-flex w-100 justify-content-between" *ngIf="tipAmout>0">
                    <p>Tip Added! <span class="text-danger pointer" (click)="cancelTip()">Cancel</span> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box mt-3">
        <div class="d-flex w-100 ">
            <textarea [(ngModel)]="notes" class="bg-transparent border-0 w-100 op-05 text-white"
                maxlength="100">Note</textarea>
        </div>
    </div>

    <div class="box mt-3">
        <div class="d-flex w-100 justify-content-between">
            <label class="text-uppercase op-05 text-white fs-13 ">SUB TOTAL (PLUS VAT)</label>
            <p class="text-uppercase text-off-white fs-14 fw-bold mb-0">{{ subTotal| currency:
                CurrencyUse}}</p>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <label class="text-uppercase op-05 text-white fs-13 ">VAT</label>
            <p class="text-uppercase text-off-white fs-14 fw-bold mb-0">{{vat | currency:CurrencyUse}}</p>
        </div>
        <div class="d-flex w-100 justify-content-between mb-4">
            <label class="text-uppercase op-05 text-white fs-13 ">TIP</label>
            <p class="text-uppercase text-off-white fs-14 fw-bold mb-0">{{tipAmout | currency:CurrencyUse}}</p>
        </div>
        <div class="d-flex w-100 justify-content-end ">
            <p class="text-uppercase text-off-white fs-24 fw-bold mb-0">{{gettotal() | currency : CurrencyUse}}</p>
        </div>
    </div>

    <div class="d-flex w-100 mt-5">
        <a class="dark-gray-btn w-100 text-decoration-none my-auto d-flex justify-content-center align-items-center text-white pointer"
            (click)="makePayment()">MAKE PAYMENT</a>
    </div>
    <div class="mt-2 d-flex w-100" *ngIf="displayErrorMessage">
        <div class="alert alert-danger alert-dismissible fade show px-2" role="alert">
            {{displayErrorMessage}}
            <button type="button" class="btn btn-link text-decoration-none close" data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>