@import url('assets/index/_home.scss');
// @import url('assets/index/_resonsive.scss');
// @import url('assets/index/_animation.scss');
// @import url('assets/index/_chosen.scss');
// @import url('assets/index/_demo.scss');
// @import url('assets/index/_feather-webfonts.scss');
// @import url('assets/index/_flatpickr.scss');
// @import url('assets/index/_font.scss');
// @import url('assets/index/_fontello.scss');
// @import url('assets/index/_ion-icons.scss');
// @import url('assets/index/_mainstyle.scss');
// @import url('assets/index/_owlcarousel.scss');
// @import url('assets/index/_simple-line-icons.scss');
// @import url('assets/index/_transitions.scss');
// @import url('assets/index/_vertical-menu.scss');



// comman css classes
.bg-dark-gray {
    background-color: #dedede;
}

.pinkish-gray {
    color: #d0cdb0;
}

.pointer {
    cursor: pointer;
}

.pointer-none {
    cursor: none !important;
}

.fm-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-18 {
    font-size: 18px !important;
}

// btn
.dark-gray-btn {
    width: 187px;
    height: 49px;
    margin: 0 3px 0 0;
    border-radius: 2px;
    background-color: #2a2a2a;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}