@import url('assets/index/_home.scss');
// @import url('assets/index/_resonsive.scss');
// @import url('assets/index/_animation.scss');
// @import url('assets/index/_chosen.scss');
// @import url('assets/index/_demo.scss');
// @import url('assets/index/_feather-webfonts.scss');
// @import url('assets/index/_flatpickr.scss');
// @import url('assets/index/_font.scss');
// @import url('assets/index/_fontello.scss');
// @import url('assets/index/_ion-icons.scss');
// @import url('assets/index/_mainstyle.scss');
// @import url('assets/index/_owlcarousel.scss');
// @import url('assets/index/_simple-line-icons.scss');
// @import url('assets/index/_transitions.scss');
// @import url('assets/index/_vertical-menu.scss');



// comman css classes
.bg-dark-gray {
    background-color: #dedede;
}

.pointer {
    cursor: pointer;
}

.fm-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.fs-13 {
    font-size: 13px;
}