<div class="mtheme-modular-column column-parallax" data-stellar-background-ratio="0.5" style="
                  background-image: url('assets/images/delevery-header-img.jfif');
                  padding-bottom: 56px;
                  padding-top: 324px;
                  background-position: 50% 0px;
                ">
    <div class="mtheme-supercell clearfix boxed-column text-is-bright">
        <div class="column-setter first-column span12">
            <div class="mtheme-cell-wrap">
                <div id="mtheme-block-1" class="mtheme-block mtheme-block-em_column_block span12 mtheme-first-cell"
                    data-width="12">
                    <div class="mtheme-cell-inner">
                        <div class="row clearfix">
                            <div class="mtheme-cell-wrap">
                                <div id="mtheme-block-2"
                                    class="mtheme-block mtheme-block-em_sectionheading span12 mtheme-first-cell"
                                    data-width="12">
                                    <div class="mtheme-cell-inner">
                                        <div class="section-heading animated fadeIn section-align-center animation-action"
                                            style="
                                      padding-top: 0;
                                      padding-bottom: 76px;
                                      margin-bottom: px;
                                    ">
                                            <!-- <h2
                                                class="entry-sub-title animated fadeIn section-sub-title animation-action">
                                                Small Beginnings
                                            </h2> -->
                                            <h1 class="animated fadeIn entry-title section-title animation-action">
                                                Delivery
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>