.sticky-menu-on.header-is-transparent-invert .outer-wrap {
    background: rgba(255, 255, 255, 1) !important;
}

.sticky-menu-activat {
    background-color: white !important;
}

.sticky-menu-on .outer-wrap,
.sticky-menu-on.page-is-fullscreen .outer-wrap {
    background-color: white !important;
}

.sticky-nav {
    height: 40px;
}

//   nav.sticky-nav.undefined{
//     background-color: black;
//     width: 100%;
//     height: auto;
//   }
//   nav.sticky-nav.undefined .button-blog-continue a, .button-black-outline{
//       color: black !important;
//   }
.logo img {
    height: 50px;
}

.stickymenu-zone.sticky-menu-activate .logo img {
    width: auto;
    height: 50px;
}

.logo img,
.center-menu .logo img {
    top: 26px;
}

.vertical-logoimage {
    width: 300px;
}

.icon-box {
    width: 100px;
    height: 100px;
}

.fs-14 {
    font-size: 14px;
}

.bottom-0 {
    bottom: 0 !important;
}

.bg-clr-mb-screen {
    background-color: #C0D0D7;
}

.bg-clr-new-offer {
    background-color: #F4B72E;
}

.bg-clr-new-offer-image {
    background-color: #555a5b;
}

.text-black {
    color: #000;
}

.ls-10 {
    letter-spacing: 10px !important;
}